<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/form.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  <%-include("partials/_header") %>

  <body>
    <main>
      <h1>Need to make a choice?</h1>
      <section id="main-page">
        <div>
          <h2 class="step-1-heading">1. Make a poll</h2>
        </div>
        <div>
          <h2 class="step-2-heading">
            2. Share it with your friends and collect votes
          </h2>
        </div>
        <div>
          <h2 class="step-3-heading">3. Check out the results!</h2>
        </div>
      </section>
      <input id="get-started" class="make-a-poll" type="button" onclick="location.href='/polls';" value="Let's get started!" />
    </main>
  </body>
</html>
