<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Admin</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  <%-include("partials/_header") %>

  <body>
    <main>
      <h1>Here are your polls</h1>
    </main>
    <canvas id="myChart"></canvas>
    <script type="text/javascript">

      function compare(a, b){
        // a should come before b in the sorted order
        if(a.sum > b.sum){
                return -1;
        // a should come after b in the sorted order
        }else if(a.sum > b.sum){
                return 1;
        // and and b are the same
        }else{
                return 0;
        }
      }
      let ctx = "myChart";
      const templateArray = <%- JSON.stringify(data) %>.sort(compare);

      const chartTitle = <%- JSON.stringify(title) %>;
      const data_array = [];
      const descriptions_array = [];
      templateArray.forEach(object => {
        data_array.push(object.sum)
        descriptions_array.push(object.data)
      })
      Chart.defaults.global.defaultFontFamily = "'Scope One', serif";
      Chart.defaults.global.defaultFontSize = 25;
      let myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
          labels: descriptions_array,
          datasets: [{
            label: 'Votes',
            data: data_array,
            backgroundColor: [
              '#3E517A',
              '#93E1D8',
              '#A63446',
              '#EE6055'
            ],
            borderColor: [
              '#293651',
              '#4FCFC0',
              '#7C2734',
              '#EE6055'
            ],
            borderWidth: 2
          }]
        },
        options: {
          legend: {
            display: false,
          },
          responsive: true,
          maintainAspectRatio: true,
          title: {
            display: true,
            text: chartTitle,
            fontSize: 40
          },
          scales: {
            xAxes: [{
              ticks: {
                beginAtZero: true,
                stepSize: 1
              },
              gridLines: {
                display: false
              }
            }],
            yAxes: [{
              gridLines: {
                display: false
              }
            }]
          },
          layout: {
            padding: {
              left: 20,
              right: 100,
              top: 30,
              bottom: 30
            }
          }
        }
      });
    </script>
  </body>
</html>
