<!DOCTYPE html>
<html lang="en">

<head>
  <title>Poll Creator</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/form.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/client.js"></script>
</head>
<%-include("partials/_header") %>

<body>
  <main>
    <h1>Let's make a decision</h1>
    <section>
      <form action="/links" method="POST">
        <!-- enter email -->
        <input type="email" name="user_email" placeholder="e-mail@example.com"><br>
        <!-- enter title of poll  -->
        <input type="text" name="poll_title" placeholder="Poll title"><br>
        <!-- what is your question?  -->
        <input type="text" name="poll_question" placeholder="What do you want to decide?"><br>
        <!-- button  -->
        <div class="field_wrapper">
          <input type="text" class="options" name="options[0]" placeholder="First Option"><br>
          <input type="text" class="options" name="options[1]" placeholder="Second Option"><br>
          <input type="text" class="options" name="options[2]" placeholder="Third Option"><br>
        </div>
        <button id="addOptionBtn" class="btn btn-primary">Add another option</button>
        </div>
        <button type="submit" method="POST" action="/links">Submit</button><br>
      </form>
    </section>
  </main>
</body>

</html>
