.chart-container {
  height: 40%;
  width: 70%;
  text-align: center;
  margin: auto;
}

#myChart {
  background-image: linear-gradient(#ebfbff, #9cadbc);
  border: 10px solid rgb(59, 89, 152);
  border-radius: 20px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

#voters-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
