#myChart {
  background-image: linear-gradient(#ebfbff, #9cadbc);
  border: 10px solid rgb(59, 89, 152);
  border-radius: 20px;
}

#voters-table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
