.container {
  padding: 1em;
  margin-top: 1em;
}

.draggable {
  padding: 1rem;
  cursor: move;
  border-radius: 10px;
  background-color: midnightblue;
  color: white;
  margin: 0.2em;
  font-size: 2em;
  font-family: "Scope One", serif;
  text-align: center;
  list-style-type: none;
}

.draggable.dragging {
  opacity: 0.5;
}

#name-box {
  display: block;
  font-size: 1.5em;
  align-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 1em;
}

.poll-question {
  padding: 0;
}

.submit-vote {
  background-image: linear-gradient(#0056b1, #00d0f6);
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 0.5em;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
