#main-page h2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #00346b;
  font-family: "Scope One", serif;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

#get-started {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  align-content: center;
  align-items: center;
  margin: auto;
}
