// See: https://sass-lang.com/

body {
  background-image: url(https://image.freepik.com/free-psd/fire-flames-black-background_77398-112.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1.5em;
  padding-bottom: 0;
  font-family: "Scope One", serif;
  font-size: 4em;
}
