// See: https://sass-lang.com/

body {
  background-image: url(https://image.freepik.com/free-photo/high-vitamin-c-juicy-sweet-fresh-orange-orange-fruit-pattern-yellow-background-banner-poster-copy-space_68196-2197.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  color: black;
  display: flex;
  justify-content: center;
  padding: 1em;
  padding-bottom: 0;
  font-family: "Scope One", serif;
  font-size: 4em;
}

a {
  color: white;
  font-family: "Abril Fatface", cursive;
}

p {
  color: black;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-size: 1.5em;
}
