// See: https://sass-lang.com/

body {
  background-image: url(https://c7.uihere.com/files/718/723/807/blue-wavy-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  color: #00346b;
  display: flex;
  justify-content: center;
  padding: 1em;
  padding-bottom: 0;
  font-family: "Scope One", serif;
  font-size: 4em;
}

h2 {
  color: #00346b;
  font-family: "Scope One", serif;
  font-size: 3em;
  margin: 0;
}

h4 {
  color: #00346b;
  font-family: "Scope One", serif;
  font-size: 2em;
  margin: 0;
}

a {
  color: black;
  font-family: "Abril Fatface", cursive;
}

p {
  color: black;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-size: 1.5em;
}
