#share-link {
  text-align: center;
  display: block;
  margin: auto;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Lora", serif;
  background-image: linear-gradient(#0056b1, #00d0f6);
  width: 25%;
  border-radius: 10px;
  padding: 0.7em;
}
