#share-link {
  text-align: center;
  display: block;
  margin: auto;
  color: white;
  font-size: 1.5em;
  font-family: "Lora", serif;
  background-color: midnightblue;
  width: 25%;
  border-radius: 10px;
  padding: 0.7em;
}
