#share-link {
  text-align: center;
  display: block;
  margin: auto;
  color: white;
  font-size: 1.5em;
  font-family: "Lora", serif;
  background-image: linear-gradient(#0009ff, black);
  width: 25%;
  border-radius: 10px;
  padding: 0.7em;
}
