.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.clickbtn {
  background-image: linear-gradient(#0056b1, #00d0f6);
  border: none;
  color: #00346b;
  padding: 16px 32px;
  text-decoration: none;
  margin: 0.5em;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
}

.email-label {
  font-family: "Scope One", serif;
  font-size: 2em;
  color: #00346b;
  font-weight: bolder;
}

#allPollEmail {
  display: flex;
  width: 25%;
  border-radius: 10px;
}

#adminEmail {
  display: flex;
  width: 45%;
  border-radius: 10px;
}

.poll-links {
  color: #00346b;
  display: block;
  text-align: center;
  font-size: 2em;
}
