nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7em;
  background-color: rgb(19, 19, 85);
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
}
